<!DOCTYPE html>

<html lang="en">

<body>
<head>
    <title>Demo CSS Table Price Hosting Plan</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="http://www.dota2.com/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">
    <link href="/static/css/leaderboards_external.css" rel="stylesheet" type="text/css">
    <title>Dota 2 - 排行榜</title>

</head>


<div>
    <div id="outerContainer" style="float:left">
        <div id="contentContainer">
            <div id="content">
                <img id="globe" src="/static/img/globe.png" width="339" height="339" border="0">
                <h1>spu点击排行榜</h1>
                <!--<h2>天梯前200名玩家</h2>-->
                <br><br><br>
                <div style="position:relative;z-index:2;">
                    <div id="leaderboard_status" style="height:60px">更新时间： 2016/7/26 上午6:00:00<br>下次更新时间： 2016/7/27
                        上午6:00:00
                    </div>
                    <table style="position:relative;z-index:2;margin:0 auto;" border="2" bordercolor="#3b3a38"
                           cellspacing="0" cellpadding="2">
                        <tbody>
                        {% for item in jsondata.spu_top %}
                        <tr bgcolor="#181818">
                            <td align="center">{{ item.0 }}</td>
                            <td align="left" style="overflow:hidden" width="300">&nbsp;&nbsp;<span
                                    class="team_tag"></span><span class="player_name">{{ item.1 }}</span>
                            </td>
                            <td>
                                <div style="float: right;"><img src="http://image.motif.me/n4/{{ item.2 }}" height="70"
                                                                width="70">&nbsp;&nbsp;
                                </div>
                            </td>
                            <td align="center">{{ item.3 }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

</body>
</html>