<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>网站流量统计</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!--存放共用的 header和nav的容器-->
        <div class="common-parts"></div>
        <!-- nav side  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            网站流量统计页面的标题 <small>小标题</small>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12 item-header">
                        <p class="">成交金额</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-12 col-xs-12">
                        <ul>
                            <li>总金额：1023</li>
                            <li>IOS：8933</li>
                            <li>Android：8933</li>
                            <li>H5：833</li>
                            <li>PC：5677</li>
                        </ul>
                    </div>
                    <div class="col-md-11 col-sm-12 col-xs-12">
                        <div id="amount_echartsWrap">

                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <!-- JS Scripts-->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/mycommon.js"></script>
</body>

</html>